[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=5"
django-allauth = ">=0"
django-environ = "*"
django-debug-toolbar = "*"
requests = "*"
psycopg = {extras = ["binary"], version = ">=3"}
jwt = "*"

[dev-packages]

[requires]
python_version = "3.10"
