{% with request.resolver_match.view_name as view_name %}
<div class="ui container">
  <div class="ui secondary menu">
    <a class="item{% if view_name == "main_index"%} active{% endif %}" href="{% url "main_index" %}">Home</a>
    {% if user.is_authenticated %}
      <a class="item{% if view_name == "bookmarks"%} active{% endif %}" href="{% url "bookmarks" %}">Bookmarks</a>
    {% endif %}
    <div class="right menu">
      {% if user.is_authenticated %}
        {% comment %}FIXME style the accounts/logout.html template{% endcomment %}
        <a class="ui item" href="{% url "account_logout" %}">Logout</a>
      {% else %}
        <a class="ui item{% if view_name == "account_login" or view_name == "google_login" %} active{% endif %}" href="{% url "google_login" %}">Login</a>
      {% endif %}
    </div>
  </div>
</div>
{% endwith %}