{% extends "root.html" %}
{% load bookmarks %}

{% block head_title %}Bookmarks{% endblock %}

{% block content %}
    <div class="ui container mt-20">
        <div class="ui grid container">
            <div class="eleven wide computer sixteen wide tablet column">
                <div class="ui grid container">
                {% for bookmark in bookmarks %}
                    <!-- FIXME add tags -->
                    <div class="fourteen wide computer fourteen wide tablet column">
                        <a href="{{bookmark.url}}">{{bookmark.title}}</a>
                    </div>
                    <div class="two wide computer two wide tablet column">
                        <a href="{% url "bookmark_delete" bookmark.id %}">
                            <i class="trash icon"></i>
                        </a>
                    </div>
                {% endfor %}
                </div>
            </div>

            <div class="right floated four wide computer sixteen wide tablet column">
                {% bookmark_add_form %}
            </div>
        </div>
    </div>
{% endblock %}