{% extends "root.html" %}

{% block head_title %}Add Bookmark{% endblock %}

{% block content %}
    <div class="d-grid grid__12 mx-auto my12 w100 wmx12">
        <form action="{% url "bookmark_new" %}" method="post" class="grid--col-start5 grid--col-end9">
            {% csrf_token %}
            {{ form }}
            <div class="d-flex gy4 fd-column mb12">
                <input class="s-btn s-btn__filled" type="submit" value="Submit">
            </div>
        </form>
    </div>
{% endblock %}