{% extends "root.html" %}

{% block head_title %}Add Bookmark{% endblock %}

{% block content %}
    <div class="ui container mt-20">
        <div class="ui grid container">
            <div class="eleven wide computer sixteen wide tablet column">
                <form class="ui form {% if form.errors %}error{% else %}initial{% endif %}" action="{% url "bookmark_new" %}" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input class="ui button" type="submit" value="Submit">
                </form>
            </div>

            <div class="right floated four wide computer sixteen wide tablet column">
                TODO
            </div>
        </div>
    </div>
{% endblock %}