{% for field in form %}
  <div class="d-flex gy4 fd-column mb12 grid--col12">
    <label class="s-label" for="{{ field.id_for_label }}">{{ field.label }}<abbr class="s-required-symbol" title="required">*</abbr></label>
    {% if field.errors %}
      <div class="s-description mtn2 mb0">
        <ol class="list-reset">
          {% for error in field.errors %}
            <li class="fc-danger">{{ error }}</li>
          {% endfor %}
        </ol>
      </div>
    {% endif %}
    {{ field }}
  </div>
{% endfor %}