<!DOCTYPE html>
{% load static %}
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bookmarker - {% block head_title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bookmarker/stacks-2.6.0.min.css' %}" />
    <link rel="stylesheet" href="{% static 'bookmarker/stacks-icons-6.0.2.css' %}" />
    <link rel="stylesheet" href="{% static 'bookmarker/styles.css' %}" />
  </head>

  {% comment %}FIXME dark theme switchable{% endcomment %}
  <body class="theme-light">
    {% include "navigation.html" %}

    {% block content %}{% endblock %}
  </body>
  <script src="{% static 'bookmarker/stacks-2.6.0.min.js' %}"></script>
</html>
