{% extends "root.html" %}

{% block head_title %}Remove Tag{% endblock %}

{% block content %}
    <div class="ui container mt-20">
        <div class="ui grid container">
            {% if tag %}
                <div class="sixteen wide column">
                    <h3>Do you really want to delete the following tag?</h3>
                    {{ tag.title }}
                </div>
                <div class="sixteen wide column">
                    <div class="ui grid container">
                        <div class="seven wide column">
                            <form action="{% url "tag_delete" tag.id %}" method="post">
                                {% csrf_token %}
                                <button class="ui button">Yes</button>
                            </form>
                        </div>
                        <div class="seven wide column">
                            <form action="{% url "tags" %}">
                                <button class="ui button">No</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="sixteen wide column">
                    <i class="exclamation circle icon colored red"></i> Tag was not found!
                </div>
                <div class="sixteen wide column">
                    <a href="{% url "tags" %}">Back to tags list</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}