{% extends "root.html" %}
{% load tags %}

{% block head_title %}Tags{% endblock %}

{% block content %}
    <div class="ui container mt-20">
        <div class="ui grid container">
            <div class="eleven wide computer sixteen wide tablet column">
                <div class="ui grid container">
                {% for tag in tags %}
                    <div class="fourteen wide computer fourteen wide tablet column">
                        {{tag.title}}
                    </div>
                    <div class="two wide computer two wide tablet column">
                        <a href="{% url "tag_delete" tag.id %}">
                            <i class="trash icon"></i>
                        </a>
                    </div>
                {% endfor %}
                </div>
            </div>

            <div class="right floated four wide computer sixteen wide tablet column">
                {% tag_add_form %}
            </div>
        </div>
    </div>
{% endblock %}